.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.599);
  z-index: 5000;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 1.2rem;
  font-weight: 600;
}

.spinner {
  font-size: 1.6rem;
  animation: 5s linear 1s infinite spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
