.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}

.description {
  position: relative;
  padding: 12px;
}

.description h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 6px;
}

.description p {
  font-size: 0.9rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.15;
  padding: 12px;
}

.info .title {
  font-weight: 500;
}

.info .value {
  text-transform: capitalize;
  margin-bottom: 14px;
}

.overlay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0000006c;
  padding: 4px;
}

.action {
  color: #ffffff;
}

.action.showing {
  color: var(--dark-green);
}
