.nav {
  background-color: white;
  padding: 6px 0px;
  z-index: 2499;
}

.list_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(14, 117, 49);
  font-weight: 600;
  padding: 4px;
  text-transform: uppercase;
}

@media (max-width: 560px) {
  .nav {
    position: sticky;
    top: 0px;
    background-color: var(--dark-green);
  }

  .list_container {
    justify-content: space-evenly;
    gap: 0px;
  }

  .link {
    color: white;
    font-size: 0.8rem;
  }
}
