.container {
  max-width: 624px;
  margin: auto;
  padding: 12px;
}

.container > * {
  margin: 16px auto;
}

.page_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.page_header .description {
  font-weight: 500;
}

h1.page_heading {
  font-size: 1.4rem;
  font-weight: 700;
}

.decorative {
  color: var(--dark-green);
}

.decorative::before {
  content: '[ ';
}

.decorative::after {
  content: ' ]';
}

.page_heading span {
  font-size: 1rem;
}
