button.center_marker_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  z-index: 400;
}