.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
