.heading {
  font-size: 1.2rem;
  text-align: center;
  margin: 12px auto;
  text-transform: capitalize;
}

.content {
  width: min(600px, 100%);
  margin: auto;
  background-color: var(--light-gray);
  border-radius: 6px;
}

.top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0px;
}

.edit,
.submit {
  color: #ffffff;
  padding: 6px 8px;
}

.edit {
  background-color: var(--blue);
}

.submit {
  background-color: var(--light-green);
}

.map_wrapper {
  position: relative;
  padding: 16px;
  overflow: hidden;
}
