.tab {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #0d8a0dda;
  color: white;
  padding: 6px 6px 6px 12px;
  border: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
  z-index: 1000;
}

.container {
  width: min(300px, 100%);
  height: 400px;
  position: absolute;
  top: 16px;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  border-right: 2px solid #00000033;
  border-bottom: 2px solid #00000033;
  border-bottom-right-radius: 6px;
  background-clip: padding-box;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 1003;
}

.container.opened {
  transform: translateX(0%);
}

.heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: var(--dark-green);
  color: #ffffff;
  padding: 4px 36px 4px 6px;
}

.heading .title {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.close {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  font-size: 22px;
}

.link_wrapper {
  background-color: var(--dark-green);
  border-bottom-right-radius: 6px;
}

.link_wrapper .link {
  display: flex;
  align-items: center;
  gap: 6px;
  width: max-content;
  margin: auto;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 1rem;
  font-weight: 700;
}
