.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: var(--dark-green);
  color: #ffffff;
}

.logout {
  font-size: 1rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 560px) {
  .footer {
    margin-bottom: 70px;
    background-color: var(--light-green);
  }
}
