.heading {
  font-size: 1.2rem;
  text-align: center;
  margin: 12px auto;
  text-transform: capitalize;
}

.content {
  width: min(600px, 100%);
  margin: auto;
  background-color: var(--light-gray);
  border-radius: 6px;
}

.current_location {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  text-transform: capitalize;
  padding: 16px 16px 0px 16px;
}

.current_location .text {
  font-weight: 600;
}

.current_location .title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.current_location .title p {
  font-weight: 400;
}

.current_location .action {
  padding: 6px 8px;
  color: white;
}

.action.delete {
  background-color: var(--danger);
}

.action.edit {
  background-color: var(--blue);
}

.map_wrapper {
  position: relative;
  overflow: hidden;
  padding: 16px;
}
