.button {
  position: absolute;
  top: 28px;
  left: 24px;
  z-index: 1002;
}

.button .icon {
  font-size: 32px;
  padding: 4px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  background-clip: padding-box;
  border: 2px solid #00000033;
  transition: all 0.5s ease;
}

.legend_container {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 2px solid #00000033;
  border-bottom-right-radius: 4px;
  transform: translateX(-120%);
  transition: all 0.5s ease;
  z-index: 1001;
}

.legend_container.opened {
  transform: translateX(0%);
}

.heading {
  margin: 16px 0px 20px;
  text-align: center;
  font-size: 1rem;
}

.list_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  margin: 12px 12px 12px 4px;
  font-weight: 500;
  font-size: 0.9rem;
}

.list_item img {
  width: 30px;
}
