@import '~sanitize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-green: rgb(14, 117, 49);
  --light-green: rgb(106, 185, 53);
  --dark-grey: rgb(89, 89, 89);
  --light-gray: rgb(210, 214, 221);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* controls zoom panel */
.leaflet-top.leaflet-left {
  top: unset;
  left: unset;
  bottom: 34px;
  right: 10px;
}

.leaflet-popup-content {
  margin: 26px 14px 6px;
  text-align: center;
  text-transform: capitalize;
}

.leaflet-popup {
  margin-bottom: 38px;
}
