@import '~sanitize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-green: #0e7531;
  --light-green: #4eae49;
  --dark-gray: #595959;
  --mid-gray: #d2d6dd;
  --light-gray: #f6f7f8;
  --blue: #4678b2;
  --danger: #cd3439;
  --orange: #eb9e3e;

  color: var(--dark-gray);
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

/* prevents inner button elements from being target eg. svg */
button > * {
  pointer-events: none;
}

li {
  list-style: none;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* controls zoom panel */
.leaflet-top.leaflet-left {
  top: unset;
  left: unset;
  bottom: 34px;
  right: 10px;
}

.leaflet-popup-content {
  margin: 20px 20px 6px;
  text-align: center;
  text-transform: capitalize;
}

.leaflet-popup {
  margin-bottom: 38px;
}

.leaflet-marker-icon:focus {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.8);
  z-index: 2999 !important;
}

@media (hover: hover) {
  .leaflet-marker-icon:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.8);
    z-index: 2999 !important;
  }
}
